body{
    background-color:lightcyan;
    position: absolute;
    left: 38%;
    top: 20%;
}



.container {
    border: 1px solid black;
    height: 423px;
    width: 348px;
    text-align: center;
    border-radius: 52px;
    padding: 8px;
    background-image: linear-gradient(135deg, white, lightgreen, darkblue);
    padding-top: 13px;
    border-color: white;
    

}
.button {
    border-radius: 25px;
    background-color: white;
    padding: 8px;
    width: 48px;
}
input {
    border-radius: 25px;
    padding: 11px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    width: 200px;
   
}
img {
    margin-left: -22px;
    height: 233px;
    margin-top: -11px;
}